<div class="col-lg-12">
  <div *ngIf="appState == 'default'">
    <label><h3>Add todos</h3> </label>
    <form (submit)="addTodo()">
      <input class="form-control" type="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"  placeholder="Create a to-do list">
    </form>
  </div>


  <div *ngIf="appState == 'edit'">
    <label> <h3>Edit todos</h3></label>
    <form (submit)="updateTodo(oldTodo)">
      <input class="form-control" type="text" [(ngModel)]="oldTodo.text" [ngModelOptions]="{standalone: true}">
    </form>
  </div>

  <ul class="list-group clearfix pt-5">

    <li *ngFor="let todo of todos" class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox"  [(ngModel)]="todo.finished" (change)="checkboxOnChanged(todo)" class="custom-control-input" id="{{todo.id}}"  >
        <label class="custom-control-label" for="{{todo.id}}">
           <span [ngClass]="{'strikethrough': todo.finished }">
              {{todo.text}} 
           </span>
        </label>
        <span class="float-right">
          <button *ngIf="!todo.finished" type="button" (click)="editTodo(todo)"  class="btn btn-primary btn-sm mr-2"><i class="fas fa-edit"></i></button>
          <button type="button" (click)="deleteTodo(todo.id)" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
        </span>

      </div>
    </li>

  </ul>

</div>

